# Explore the plankton dataset

## Import libraries

In [2]:
UNKNOWN = pd.NA
OTHER = 'OTHER'

### Test set

In [3]:
test_set = pd.DataFrame({
    'level1': ['Copepod',   'Copepod',   'Copepod',    'Copepod', 'Cladocera', 'Cladocera'],
    'level2': ['Calanoida', 'Calanoida', 'Cyclopoida', UNKNOWN,   UNKNOWN,     'Evadne'],
    'level3': ['Acartia',   'Calanus',   UNKNOWN,      UNKNOWN,   UNKNOWN,     UNKNOWN],
})
test_set

      level1      level2   level3
0    Copepod   Calanoida  Acartia
1    Copepod   Calanoida  Calanus
2    Copepod  Cyclopoida     <NA>
3    Copepod        <NA>     <NA>
4  Cladocera        <NA>     <NA>
5  Cladocera      Evadne     <NA>

### Model output

In [4]:
prediction_model_1 = pd.DataFrame({
    'level1': ['Copepod',   'Copepod',    'Copepod',    'Copepod',    'Cladocera', 'Cladocera'],
    'level2': ['Calanoida', 'Cyclopoida', 'Cyclopoida', 'Cyclopoida', 'Evadne',    'Evadne'],
    'level3': ['Acartia',   OTHER,        'Oithona',    'Corycaeus',   OTHER,       OTHER],
})
prediction_model_1

      level1      level2     level3
0    Copepod   Calanoida    Acartia
1    Copepod  Cyclopoida      OTHER
2    Copepod  Cyclopoida    Oithona
3    Copepod  Cyclopoida  Corycaeus
4  Cladocera      Evadne      OTHER
5  Cladocera      Evadne      OTHER

### Report

In [5]:
def report(level):
    print(
        classification_report(
            test_set[level][~test_set[level].isna()], 
            prediction_model_1[level][~test_set[level].isna()],
            zero_division=0
        )
    )

In [6]:
report('level1')

              precision    recall  f1-score   support

   Cladocera       1.00      1.00      1.00         2
     Copepod       1.00      1.00      1.00         4

    accuracy                           1.00         6
   macro avg       1.00      1.00      1.00         6
weighted avg       1.00      1.00      1.00         6

In [7]:
# Should use ('level1', 'level2')
report('level2')

              precision    recall  f1-score   support

   Calanoida       1.00      0.50      0.67         2
  Cyclopoida       0.50      1.00      0.67         1
      Evadne       1.00      1.00      1.00         1

    accuracy                           0.75         4
   macro avg       0.83      0.83      0.78         4
weighted avg       0.88      0.75      0.75         4

In [8]:
# Should use ('level1', 'level2', 'level3')
report('level3')

              precision    recall  f1-score   support

     Acartia       1.00      1.00      1.00         1
     Calanus       0.00      0.00      0.00         1
       OTHER       0.00      0.00      0.00         0

    accuracy                           0.50         2
   macro avg       0.33      0.33      0.33         2
weighted avg       0.50      0.50      0.50         2